%p#notice= notice

.center_text
  %h1 All Groceries

  = search_form_for @q, remote: true do |f|
    = f.search_field :category_or_name_cont, placeholder: 'Search', id: 'search_field'

  .flex.center
    = render partial: 'groceries/index'

%br

= link_to 'New Grocery', new_grocery_path