<p id="notice"><%= notice %></p>

<h1>Groceries</h1>

<%= search_form_for @q, remote: true do |f| %>
  <%= f.search_field :category_or_name_cont %>
  <%= f.submit %>
<% end %>


<%= render partial: 'results' %>


<br>

<%= link_to 'New Grocery', new_grocery_path %>
