.center_text
  = form_tag search_path, method: :get, remote: true, id: 'grocery_search' do |f|
    = search_field_tag :query, '', placeholder: 'Search Groceries', class: 'search_field', autocomplete: 'off', incremental: 'incremental'
  
  .flex.center
    = render partial: 'groceries/index', locals: { rows: 'index' }

%br


.flex.center
  = link_to 'Reset List Items',  clear_items_path, data: { confirm: 'Are you done with this list?'}
%br
.flex.center
  = link_to 'New Grocery', new_grocery_path
